<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573862844191-e1llrkfn9st5pv3jm6m2aep409efaurg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573862844191-e1llrkfn9st5pv3jm6m2aep409efaurg</string>
	<key>API_KEY</key>
	<string>AIzaSyD08N-9vPLsprxjVytaRjTYCrmUmpnihuY</string>
	<key>GCM_SENDER_ID</key>
	<string>573862844191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monsanto.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>grocery-931e0</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-931e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:573862844191:ios:f626fca538b54fe9</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-931e0.firebaseio.com</string>
</dict>
</plist>